## Introduction to Python

#### Explore the baseball data

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("mlb.csv")
df = df[['Height', 'Weight','Age']]
baseball = df.values.tolist()
df

      Height  Weight    Age
0         74     180  22.99
1         74     215  34.69
2         72     210  30.78
3         72     210  35.43
4         73     188  35.71
...      ...     ...    ...
1010      73     190  25.08
1011      74     180  25.73
1012      75     205  25.19
1013      75     190  31.01
1014      73     195  27.92

[1015 rows x 3 columns]

In [4]:
# np_baseball is available
np_baseball = np.array(baseball)
np_baseball

array([[ 74.  , 180.  ,  22.99],
       [ 74.  , 215.  ,  34.69],
       [ 72.  , 210.  ,  30.78],
       ...,
       [ 75.  , 205.  ,  25.19],
       [ 75.  , 190.  ,  31.01],
       [ 73.  , 195.  ,  27.92]])

Print mean height (first column)

In [5]:
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

Average: 73.6896551724138

Print median height. Replace 'None'

In [6]:
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

Median: 74.0

Print out the standard deviation on height. Replace 'None'

In [7]:
stddev = np.std(np_baseball[:, 0])
print("Standard Deviation: " + str(stddev))

Standard Deviation: 2.312791881046546

Print out correlation between first and second column. Replace 'None'

In [8]:
corr = np.corrcoef(np_baseball[:, 0], np_baseball[:, 1])
print("Correlation: " + str(corr))

Correlation: [[1.         0.53153932]
 [0.53153932 1.        ]]