### SQL databases

#### SQL
* Structured Query Language
* Industry standard for Relational Database Management System (RDBMS)
* Allows you to access many records at once, and group, filter or aggregate them
* Close to written English, easy to write and understand
* Data engineers use SQL to create and maintain databases
* Data scientists use SQL to query (request information from) databases

#### Employee table
<table>
<thead>
<tr>
<td>index</td><td>last_name</td><td>first_name</td>
<td>role</td><td>team</td><td>full_time</td><td>office</td>
</tr>
</thead>
<tbody>
<tr><td>0</td><td>Thien</td><td>Vivian</td><td>Data Engineer</td><td>Data Science</td><td>1</td><td>Belgium</td></tr>
<tr><td>1</td><td>Huong</td><td>Julian</td><td>Data Scientist</td><td>Data Science</td><td>1</td><td>Belgium</td></tr>
<tr><td>2</td><td>Duplantier</td><td>Norbert</td><td>Software Developer</td><td>Infrastructure</td><td>1</td><td>United Kingdom</td></tr>
<tr><td>3</td><td>McColgan</td><td>Jeff</td><td>Business Developer</td><td>Sales</td><td>1</td><td>United States</td></tr>
<tr><td>4</td><td>Sanchez</td><td>Rick</td><td>Support Agent</td><td>Support Agent</td><td>0</td><td>United States</td></tr>
</tbody>
</table>

##### SQL for data engineers
* Data engineers use SQL to create, maintain, and update tables.
`
CREATE TABLE employees (
    employee_id INT,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    role VARCHAR(255),
    team VARCHAR(255),
    full_time BOOLEAN,
    office VARCHAR(255)
`

##### SQL for data scientists
* Data scientists use SQL to query, filter, group and aggregate data in tables.
`
    SELECT first_name, last_name
    FROM employess
    WHERE role LIKE '%Data%'
`

#### Database schema
* Databases are made of tables
* The database schema governs how tables are related

<table>
<thead><tr><td>ALBUMS</td></tr></head>
<tbody>
<tr><td>album_id</td></tr>
<tr><td>album_id</td></tr>
<tr><td>title</td></tr>
<tr><td>year_of_release</td></tr>
<tr><td>label_id</td></tr>
</tbody>
</table>
<hr>
<table>
<thead><tr><td>ARTISTS</td></tr></head>
<tbody>
<tr><td>artist_id</td></tr>
<tr><td>artist_name</td></tr>
<tr><td>biography</td></tr>
</tbody>
</table>
<hr>
<table>
<thead><tr><td>SONGS</td></tr></head>
<tbody>
<tr><td>song_id</td></tr>
<tr><td>album_id</td></tr>
<tr><td>song_title</td></tr>
<tr><td>track_number</td></tr>
<tr><td>song_length</td></tr>
</tbody>
</table>
<hr>
<table>
<thead><tr><td>PLAYLISTS</td></tr></head>
<tbody>
<tr><td>playlist_id</td></tr>
<tr><td>user_id</td></tr>
<tr><td>song_id</td></tr>
<tr><td>date_added</td></tr>
<tr><td>position_number</td></tr>
</tbody>
</table>

#### Several implementations
* SQLite
* MySQL
* PostgreSQL
* Oracle SQL
* SQL Server

#### Summary
* SQL = industry standard
* Explain how Data engineers and Data scientists use it differently
* Database schema
* SQL implementations