# INFORMATION MANAGEMENT

## MODULE 7: DATA MANIPULATION LANGAUGE (DML) AND TRANSACTION CONTROL

# INSERT STATEMENT SYNTAX
- Add new rows to a table by using the INSERT statement

In [10]:
import cx_Oracle


def print_all():
    connection = cx_Oracle.connect(user="MODULES_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM Customer_T")
    for row in cursor:
        display(row)

def run_statement(sql):
    connection = cx_Oracle.connect(user="MODULES_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute(sql)
    for row in cursor:
        display(row)

In [13]:
sql = """
CREATE TABLE Customer_T
(CustomerID INTEGER GENERATED ALWAYS AS IDENTITY
    (START WITH 1
    INCREMENT BY 1
    MINVALUE 1
    MAXVALUE 10000
    NO CYCLE),
 CustomerName       VARCHAR2(25) NOT NULL,
 CustomerAddress    VARCHAR2(30),
 CustomerCity       VARCHAR2(20),
 CustomerState      CHAR(2),
 CustomerPostalCode VARCHAR2(9),
 CONSTRAINT Customer_PK PRIMARY KEY (CustomerID));
"""
run_statement(sql)
sql = """
INSERT INTO Customer_T VALUES ('Contemporary Casuals', '1355 S. Himes Blvd.', 'Gainesville', 'FL', 32601);
"""
run_statement(sql)
print_all()

DatabaseError: ORA-02000: missing ) keyword

In [ ]:
# INSERT INTO table [(column [, column...])]
# VALUES             (value [, value...]);
# NOTE THAT ONLY ONE ROW IS INSERTED AT A TIME