## Aggregating DataFrames

#### Counting

#### Avoiding double counting

#### Vet visits

In [6]:
# importing pandas
import pandas as pd

# importing sales dataset
temp = pd.read_csv("../datasets/temperatures.csv")
temp.head()

   Unnamed: 0        date     city        country  avg_temp_c
0           0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1           1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2           2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3           3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4           4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

#### Dropping duplicate names

In [7]:
temp.drop_duplicates(subset="city")

       Unnamed: 0        date         city        country  avg_temp_c
0               0  2000-01-01      Abidjan  Côte D'Ivoire      27.293
165           165  2000-01-01  Addis Abeba       Ethiopia      17.391
330           330  2000-01-01    Ahmadabad          India      20.781
495           495  2000-01-01       Aleppo          Syria       5.205
660           660  2000-01-01   Alexandria          Egypt      13.579
...           ...         ...          ...            ...         ...
15675       15675  2000-01-01        Tokyo          Japan       3.660
15840       15840  2000-01-01      Toronto         Canada      -7.373
16005       16005  2000-01-01   Umm Durman          Sudan      23.375
16170       16170  2000-01-01        Wuhan          China       3.329
16335       16335  2000-01-01         Xian          China      -2.819

[100 rows x 5 columns]

In [8]:
#### Dropping duplicate pairs
unique_city = temp.drop_duplicates(subset=["city", "country"])
unique_city

       Unnamed: 0        date         city        country  avg_temp_c
0               0  2000-01-01      Abidjan  Côte D'Ivoire      27.293
165           165  2000-01-01  Addis Abeba       Ethiopia      17.391
330           330  2000-01-01    Ahmadabad          India      20.781
495           495  2000-01-01       Aleppo          Syria       5.205
660           660  2000-01-01   Alexandria          Egypt      13.579
...           ...         ...          ...            ...         ...
15675       15675  2000-01-01        Tokyo          Japan       3.660
15840       15840  2000-01-01      Toronto         Canada      -7.373
16005       16005  2000-01-01   Umm Durman          Sudan      23.375
16170       16170  2000-01-01        Wuhan          China       3.329
16335       16335  2000-01-01         Xian          China      -2.819

[100 rows x 5 columns]

#### Easy 1, 2, 3

In [11]:
unique_city["country"].value_counts()

China                                 16
India                                 14
Brazil                                 6
Pakistan                               3
Nigeria                                3
Egypt                                  3
Turkey                                 3
United States                          3
Russia                                 2
Indonesia                              2
Saudi Arabia                           2
Canada                                 2
South Africa                           2
Colombia                               2
Japan                                  2
Australia                              2
Somalia                                1
Mexico                                 1
Côte D'Ivoire                          1
Italy                                  1
Kenya                                  1
France                                 1
Burma                                  1
Philippines                            1
Chile                                  1
Dominican Republic                     1
South Korea                            1
Singapore                              1
Taiwan                                 1
Iran                                   1
Afghanistan                            1
Spain                                  1
Angola                                 1
Syria                                  1
Iraq                                   1
Thailand                               1
Germany                                1
Morocco                                1
Senegal                                1
Tanzania                               1
Bangladesh                             1
Zimbabwe                               1
Vietnam                                1
Ethiopia                               1
Ukraine                                1
Congo (Democratic Republic Of The)     1
Peru                                   1
United Kingdom                         1
Sudan                                  1
Name: country, dtype: int64

In [12]:
unique_city["country"].value_counts(sort=True)

China                                 16
India                                 14
Brazil                                 6
Pakistan                               3
Nigeria                                3
Egypt                                  3
Turkey                                 3
United States                          3
Russia                                 2
Indonesia                              2
Saudi Arabia                           2
Canada                                 2
South Africa                           2
Colombia                               2
Japan                                  2
Australia                              2
Somalia                                1
Mexico                                 1
Côte D'Ivoire                          1
Italy                                  1
Kenya                                  1
France                                 1
Burma                                  1
Philippines                            1
Chile                                  1
Dominican Republic                     1
South Korea                            1
Singapore                              1
Taiwan                                 1
Iran                                   1
Afghanistan                            1
Spain                                  1
Angola                                 1
Syria                                  1
Iraq                                   1
Thailand                               1
Germany                                1
Morocco                                1
Senegal                                1
Tanzania                               1
Bangladesh                             1
Zimbabwe                               1
Vietnam                                1
Ethiopia                               1
Ukraine                                1
Congo (Democratic Republic Of The)     1
Peru                                   1
United Kingdom                         1
Sudan                                  1
Name: country, dtype: int64

In [13]:
unique_city["country"].value_counts(normalize=True)

China                                 0.16
India                                 0.14
Brazil                                0.06
Pakistan                              0.03
Nigeria                               0.03
Egypt                                 0.03
Turkey                                0.03
United States                         0.03
Russia                                0.02
Indonesia                             0.02
Saudi Arabia                          0.02
Canada                                0.02
South Africa                          0.02
Colombia                              0.02
Japan                                 0.02
Australia                             0.02
Somalia                               0.01
Mexico                                0.01
Côte D'Ivoire                         0.01
Italy                                 0.01
Kenya                                 0.01
France                                0.01
Burma                                 0.01
Philippines                           0.01
Chile                                 0.01
Dominican Republic                    0.01
South Korea                           0.01
Singapore                             0.01
Taiwan                                0.01
Iran                                  0.01
Afghanistan                           0.01
Spain                                 0.01
Angola                                0.01
Syria                                 0.01
Iraq                                  0.01
Thailand                              0.01
Germany                               0.01
Morocco                               0.01
Senegal                               0.01
Tanzania                              0.01
Bangladesh                            0.01
Zimbabwe                              0.01
Vietnam                               0.01
Ethiopia                              0.01
Ukraine                               0.01
Congo (Democratic Republic Of The)    0.01
Peru                                  0.01
United Kingdom                        0.01
Sudan                                 0.01
Name: country, dtype: float64