## Slicing and Indexing DataFrames

#### Subsetting by row/column number

The most common ways to subset rows are the way we've previously discussed: using a Boolean condition or by index labels. However, it is also occasionally useful to pass row numbers. This is done using `.loc[]` and like `.loc[]`, it can take two arguments to let you subset by rows and columns. `pandas` is loaded as `pd`. `temperautres` (without an index) is available.

In [1]:
# importing pandas
import pandas as pd

# importing sales dataset
temperatures = pd.read_csv("../datasets/temperatures.csv")
temperatures.head()

   Unnamed: 0        date     city        country  avg_temp_c
0           0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1           1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2           2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3           3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4           4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

### Instructions

* Use `.iloc[]` on `temperatures` to take subsets.
* Get the 23rd rows, 2nd column (index position 22 and 1).
* Get the first 5 rows (index positions 0 to 5).
* Get all rows, columns 3 and 4 (index positions 2 to 4).
* Get the first 5 rows, columns 3 and 4.

In [2]:
# Get 23rd row, 2nd column (index 22, 1)
temperatures.iloc[22,1]

'2001-11-01'

In [3]:
# Use slicing to get the first 5 rows
temperatures.iloc[:5]

   Unnamed: 0        date     city        country  avg_temp_c
0           0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1           1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2           2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3           3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4           4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [6]:
# Use slicing to get columns 3 to 4
temperatures.iloc[:, 2:4]

          city        country
0      Abidjan  Côte D'Ivoire
1      Abidjan  Côte D'Ivoire
2      Abidjan  Côte D'Ivoire
3      Abidjan  Côte D'Ivoire
4      Abidjan  Côte D'Ivoire
...        ...            ...
16495     Xian          China
16496     Xian          China
16497     Xian          China
16498     Xian          China
16499     Xian          China

[16500 rows x 2 columns]

In [7]:
# Use slicing in both directions at once
temperatures.iloc[:5, 2:4]

      city        country
0  Abidjan  Côte D'Ivoire
1  Abidjan  Côte D'Ivoire
2  Abidjan  Côte D'Ivoire
3  Abidjan  Côte D'Ivoire
4  Abidjan  Côte D'Ivoire