## Slicing and Indexing DataFrames

#### Subsetting pivot tables

A pivot table is just a DataFrame with sorted indexes, so the techniques you have learned already can be used to subset them. In particular, the `.loc[]` + slicing combination is often helpful.
`pandas` is loaded as `pd`. `temp_by_country_city_vs_year` is available.

In [2]:
# importing pandas
import pandas as pd

# importing sales dataset
temperatures = pd.read_csv("../datasets/temperatures.csv")
temperatures.head()
temperatures["date"] = pd.to_datetime(temperatures["date"], format="%Y-%m-%d")
temperatures["year"] = temperatures["date"].dt.year
temp_by_country_city_vs_year = temperatures.pivot_table(index=["country", "city"], columns="year")
temp_by_country_city_vs_year

                               Unnamed: 0                                      \
year                                 2000     2001     2002     2003     2004
country       city
Afghanistan   Kabul                7265.5   7277.5   7289.5   7301.5   7313.5
Angola        Luanda               9245.5   9257.5   9269.5   9281.5   9293.5
Australia     Melbourne           10070.5  10082.5  10094.5  10106.5  10118.5
              Sydney              14855.5  14867.5  14879.5  14891.5  14903.5
Bangladesh    Dhaka                4460.5   4472.5   4484.5   4496.5   4508.5
...                                   ...      ...      ...      ...      ...
United States Chicago              3470.5   3482.5   3494.5   3506.5   3518.5
              Los Angeles          9080.5   9092.5   9104.5   9116.5   9128.5
              New York            11720.5  11732.5  11744.5  11756.5  11768.5
Vietnam       Ho Chi Minh City     5780.5   5792.5   5804.5   5816.5   5828.5
Zimbabwe      Harare               5450.5   5462.5   5474.5   5486.5   5498.5

                                                                             \
year                               2005     2006     2007     2008     2009
country       city
Afghanistan   Kabul              7325.5   7337.5   7349.5   7361.5   7373.5
Angola        Luanda             9305.5   9317.5   9329.5   9341.5   9353.5
Australia     Melbourne         10130.5  10142.5  10154.5  10166.5  10178.5
              Sydney            14915.5  14927.5  14939.5  14951.5  14963.5
Bangladesh    Dhaka              4520.5   4532.5   4544.5   4556.5   4568.5
...                                 ...      ...      ...      ...      ...
United States Chicago            3530.5   3542.5   3554.5   3566.5   3578.5
              Los Angeles        9140.5   9152.5   9164.5   9176.5   9188.5
              New York          11780.5  11792.5  11804.5  11816.5  11828.5
Vietnam       Ho Chi Minh City   5840.5   5852.5   5864.5   5876.5   5888.5
Zimbabwe      Harare             5510.5   5522.5   5534.5   5546.5   5558.5

                                ... avg_temp_c                        \
year                            ...       2004       2005       2006
country       city              ...
Afghanistan   Kabul             ...  16.128417  14.847500  15.798500
Angola        Luanda            ...  24.216167  24.414583  24.138417
Australia     Melbourne         ...  13.742083  14.378500  13.991083
              Sydney            ...  17.869667  18.028083  17.749500
Bangladesh    Dhaka             ...  26.136083  26.193333  26.440417
...                             ...        ...        ...        ...
United States Chicago           ...  10.943417  11.583833  11.870500
              Los Angeles       ...  16.552833  16.431417  16.623083
              New York          ...  10.389500  10.681417  11.519250
Vietnam       Ho Chi Minh City  ...  27.686583  27.884000  28.044000
Zimbabwe      Harare            ...  20.307667  21.487417  20.699750

                                                                            \
year                                 2007       2008       2009       2010
country       city
Afghanistan   Kabul             15.518000  15.479250  15.093333  15.676000
Angola        Luanda            24.241583  24.266333  24.325083  24.440250
Australia     Melbourne         14.991833  14.110583  14.647417  14.231667
              Sydney            18.020833  17.321083  18.175833  17.999000
Bangladesh    Dhaka             25.951333  26.004500  26.535583  26.648167
...                                   ...        ...        ...        ...
United States Chicago           11.448333  10.242417  10.298333  11.815917
              Los Angeles       16.699917  17.014750  16.677000  15.887000
              New York          10.627333  10.641667  10.141833  11.357583
Vietnam       Ho Chi Minh City  27.866667  27.611417  27.853333  28.281750
Zimbabwe      Harare            20.746250  20.680500  20.523833  21.165833


year                                 2011       2012       2013
country       city
Afghanistan   Kabul             15.812167  14.510333  16.206125
Angola        Luanda            24.150750  24.240083  24.553875
Australia     Melbourne         14.190917  14.268667  14.741500
              Sydney            17.713333  17.474333  18.089750
Bangladesh    Dhaka             25.803250  26.283583  26.587000
...                                   ...        ...        ...
United States Chicago           11.214250  12.821250  11.586889
              Los Angeles       15.874833  17.089583  18.120667
              New York          11.272250  11.971500  12.163889
Vietnam       Ho Chi Minh City  27.675417  28.248750  28.455000
Zimbabwe      Harare            20.781750  20.523333  19.756500

[100 rows x 28 columns]

In [8]:
print(temperatures["year"])

0        2000
1        2000
2        2000
3        2000
4        2000
         ...
16495    2013
16496    2013
16497    2013
16498    2013
16499    2013
Name: year, Length: 16500, dtype: int64

### Instructions

Use `.loc[]` on `temp_by_country_city_vs_year` to take subsets.
* From Egypt to India.
* From Egypt, Cairo to India, Delhi.
* From Egypt, Cairo to India, Delhi, and 2005 to 2010.

In [3]:
# Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt":"India"]

                     Unnamed: 0                                               \
year                       2000     2001     2002     2003     2004     2005
country  city
Egypt    Alexandria       665.5    677.5    689.5    701.5    713.5    725.5
         Cairo           2315.5   2327.5   2339.5   2351.5   2363.5   2375.5
         Gizeh           5120.5   5132.5   5144.5   5156.5   5168.5   5180.5
Ethiopia Addis Abeba      170.5    182.5    194.5    206.5    218.5    230.5
France   Paris          11885.5  11897.5  11909.5  11921.5  11933.5  11945.5
Germany  Berlin          1655.5   1667.5   1679.5   1691.5   1703.5   1715.5
India    Ahmadabad        335.5    347.5    359.5    371.5    383.5    395.5
         Bangalore       1160.5   1172.5   1184.5   1196.5   1208.5   1220.5
         Bombay          1985.5   1997.5   2009.5   2021.5   2033.5   2045.5
         Calcutta        2480.5   2492.5   2504.5   2516.5   2528.5   2540.5
         Delhi           4295.5   4307.5   4319.5   4331.5   4343.5   4355.5
         Hyderabad       5945.5   5957.5   5969.5   5981.5   5993.5   6005.5
         Jaipur          6605.5   6617.5   6629.5   6641.5   6653.5   6665.5
         Kanpur          7595.5   7607.5   7619.5   7631.5   7643.5   7655.5
         Lakhnau         8585.5   8597.5   8609.5   8621.5   8633.5   8645.5
         Madras          9410.5   9422.5   9434.5   9446.5   9458.5   9470.5
         Nagpur         11060.5  11072.5  11084.5  11096.5  11108.5  11120.5
         New Delhi      11555.5  11567.5  11579.5  11591.5  11603.5  11615.5
         Pune           12215.5  12227.5  12239.5  12251.5  12263.5  12275.5
         Surat          14690.5  14702.5  14714.5  14726.5  14738.5  14750.5

                                                          ... avg_temp_c  \
year                     2006     2007     2008     2009  ...       2004
country  city                                             ...
Egypt    Alexandria     737.5    749.5    761.5    773.5  ...  21.064167
         Cairo         2387.5   2399.5   2411.5   2423.5  ...  22.081917
         Gizeh         5192.5   5204.5   5216.5   5228.5  ...  22.081917
Ethiopia Addis Abeba    242.5    254.5    266.5    278.5  ...  18.292750
France   Paris        11957.5  11969.5  11981.5  11993.5  ...  11.338833
Germany  Berlin        1727.5   1739.5   1751.5   1763.5  ...   9.822583
India    Ahmadabad      407.5    419.5    431.5    443.5  ...  27.628333
         Bangalore     1232.5   1244.5   1256.5   1268.5  ...  25.252083
         Bombay        2057.5   2069.5   2081.5   2093.5  ...  27.318750
         Calcutta      2552.5   2564.5   2576.5   2588.5  ...  26.634333
         Delhi         4367.5   4379.5   4391.5   4403.5  ...  26.239917
         Hyderabad     6017.5   6029.5   6041.5   6053.5  ...  27.228500
         Jaipur        6677.5   6689.5   6701.5   6713.5  ...  26.642167
         Kanpur        7667.5   7679.5   7691.5   7703.5  ...  25.586500
         Lakhnau       8657.5   8669.5   8681.5   8693.5  ...  25.586500
         Madras        9482.5   9494.5   9506.5   9518.5  ...  28.810917
         Nagpur       11132.5  11144.5  11156.5  11168.5  ...  26.406333
         New Delhi    11627.5  11639.5  11651.5  11663.5  ...  26.239917
         Pune         12287.5  12299.5  12311.5  12323.5  ...  25.316167
         Surat        14762.5  14774.5  14786.5  14798.5  ...  27.290583

                                                                             \
year                       2005       2006       2007       2008       2009
country  city
Egypt    Alexandria   21.082333  21.148167  21.507750  21.739000  21.670500
         Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250
         Hyderabad    27.488833  27.471000  27.545333  27.446667  28.026500
         Jaipur       25.772250  26.429833  26.267000  25.877583  26.919500
         Kanpur       25.621500  25.848833  25.436083  25.109750  25.987083
         Lakhnau      25.621500  25.848833  25.436083  25.109750  25.987083
         Madras       29.099417  29.073250  28.970167  29.024083  29.417417
         Nagpur       26.229167  26.374833  26.393667  26.188000  27.138917
         New Delhi    25.716083  26.365917  26.145667  25.675000  26.554250
         Pune         25.085583  25.310167  25.584833  25.230250  25.868250
         Surat        26.724500  27.149417  27.311750  26.828750  27.819833


year                       2010       2011       2012       2013
country  city
Egypt    Alexandria   22.459583  21.181500  21.552583  21.438500
         Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250
         Hyderabad    27.693417  27.408833  28.018583  28.851250
         Jaipur       26.818417  25.916500  25.884500  26.844125
         Kanpur       26.021750  25.062083  25.445417  26.121250
         Lakhnau      26.021750  25.062083  25.445417  26.121250
         Madras       29.047333  29.063167  29.778417  30.411750
         Nagpur       26.927000  26.004667  26.327917  27.112375
         New Delhi    26.520250  25.629500  25.889417  26.709250
         Pune         25.749167  25.161417  25.296833  25.847625
         Surat        27.681667  27.016583  26.889250  27.437750

[20 rows x 28 columns]

In [4]:
# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt", "Cairo"):("India", "Delhi")]

                     Unnamed: 0                                               \
year                       2000     2001     2002     2003     2004     2005
country  city
Egypt    Cairo           2315.5   2327.5   2339.5   2351.5   2363.5   2375.5
         Gizeh           5120.5   5132.5   5144.5   5156.5   5168.5   5180.5
Ethiopia Addis Abeba      170.5    182.5    194.5    206.5    218.5    230.5
France   Paris          11885.5  11897.5  11909.5  11921.5  11933.5  11945.5
Germany  Berlin          1655.5   1667.5   1679.5   1691.5   1703.5   1715.5
India    Ahmadabad        335.5    347.5    359.5    371.5    383.5    395.5
         Bangalore       1160.5   1172.5   1184.5   1196.5   1208.5   1220.5
         Bombay          1985.5   1997.5   2009.5   2021.5   2033.5   2045.5
         Calcutta        2480.5   2492.5   2504.5   2516.5   2528.5   2540.5
         Delhi           4295.5   4307.5   4319.5   4331.5   4343.5   4355.5

                                                          ... avg_temp_c  \
year                     2006     2007     2008     2009  ...       2004
country  city                                             ...
Egypt    Cairo         2387.5   2399.5   2411.5   2423.5  ...  22.081917
         Gizeh         5192.5   5204.5   5216.5   5228.5  ...  22.081917
Ethiopia Addis Abeba    242.5    254.5    266.5    278.5  ...  18.292750
France   Paris        11957.5  11969.5  11981.5  11993.5  ...  11.338833
Germany  Berlin        1727.5   1739.5   1751.5   1763.5  ...   9.822583
India    Ahmadabad      407.5    419.5    431.5    443.5  ...  27.628333
         Bangalore     1232.5   1244.5   1256.5   1268.5  ...  25.252083
         Bombay        2057.5   2069.5   2081.5   2093.5  ...  27.318750
         Calcutta      2552.5   2564.5   2576.5   2588.5  ...  26.634333
         Delhi         4367.5   4379.5   4391.5   4403.5  ...  26.239917

                                                                             \
year                       2005       2006       2007       2008       2009
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250


year                       2010       2011       2012       2013
country  city
Egypt    Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250

[10 rows x 28 columns]

In [6]:
temp_by_country_city_vs_year.columns

MultiIndex([('Unnamed: 0', 2000),
            ('Unnamed: 0', 2001),
            ('Unnamed: 0', 2002),
            ('Unnamed: 0', 2003),
            ('Unnamed: 0', 2004),
            ('Unnamed: 0', 2005),
            ('Unnamed: 0', 2006),
            ('Unnamed: 0', 2007),
            ('Unnamed: 0', 2008),
            ('Unnamed: 0', 2009),
            ('Unnamed: 0', 2010),
            ('Unnamed: 0', 2011),
            ('Unnamed: 0', 2012),
            ('Unnamed: 0', 2013),
            ('avg_temp_c', 2000),
            ('avg_temp_c', 2001),
            ('avg_temp_c', 2002),
            ('avg_temp_c', 2003),
            ('avg_temp_c', 2004),
            ('avg_temp_c', 2005),
            ('avg_temp_c', 2006),
            ('avg_temp_c', 2007),
            ('avg_temp_c', 2008),
            ('avg_temp_c', 2009),
            ('avg_temp_c', 2010),
            ('avg_temp_c', 2011),
            ('avg_temp_c', 2012),
            ('avg_temp_c', 2013)],
           names=[None, 'year'])

In [5]:
# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[("Egypt", "Cairo"):("India", "Delhi"), "2005":"2010"]

Empty DataFrame
Columns: []
Index: [(Egypt, Cairo), (Egypt, Gizeh), (Ethiopia, Addis Abeba), (France, Paris), (Germany, Berlin), (India, Ahmadabad), (India, Bangalore), (India, Bombay), (India, Calcutta), (India, Delhi)]