# Writing queries

### Aliasing
Use _aliasing_ to rename columns

In [ ]:
# SELECT name AS first_name, year_hired
# FROM employees;

### Selecting distinct records

In [ ]:
# SELECT year_hired FROM employees;

selecting records with no repeating value

In [ ]:
# SELECT DISTINCT year_hired FROM employees;

### DISTINCT with multiple fields

In [ ]:
# SELECT dept_id, year_hired FROM employees;

### DISTINCT with multiple fields

In [ ]:
# SELECT DISTINCT dept_id, year_hired FROM employees;

### Views
* A _view_ is a virtual table that is the result of a saved SQL `SELECT` statement.
* When accessed, views automatically update in response to updates in the underlying data

In [ ]:
# CREATE VIEW  employee_hire_years AS
# SELECT id, name, year_hired
# FROM employees;

# Using views

In [ ]:
# SELECT id, name
# FROM employee_hire_years;