# Introduction to SQL

## Databases

#### Course goals
1. Understand databases and their structure -> Chapter 1
2. Extract information from databases using SQL -> Chapter 2

#### Introducing databases

patrons
* card_num, name, member_year, total_fine
- 54378, izzy, 2012, 9.86
- 94722, Maham, 2020, 0
- 45783, Jasmin, 2022, 2.05
- 90123, James, 1989, 0

books
* id, title, author, genre, pub_year
- 638, Being Mortal, Atul Gawande, Non-Fiction, 2015
- 912, Educated, Tara Westover, Non-fiction, 2018
- 322, Night, Elle Wiesel, Non-fiction, 1956
- 156, Where the wild things are, Maurice Sendak, Children, 1963

checkouts
* id, start_date, due_date, card_num, book_id
- 567, 2022-05-13, 2022-05-27, 54378, 638
- 568, 2022-05-13, 2022-05-27, 54378, 322
- 569, 2022-05-13, 2022-05-27, 54378, 912
- 570, 2022-05-13, 2022-05-27, 54378, 638
- 571, 2022-05-13, 2022-05-27, 54378, 638

#### Relational databases
* Define relationships between tables of data inside the database

#### Database advatanges
* More storage than spreadsheet
* Storage are more secure
* many users can queries the data at the same data

#### SQL
* Short for Structured Query Language
* The most widely used programming language for databases

In [ ]:
# SELECT *
# FROM patrons
# LIMIT 30