# Technical 3

In [2]:
import pandas as pd


df = pd.read_csv("Transactional_Information.csv")
df.describe()

,CUSID,DEPOSIT INCOME,LOAN INCOME,TOTAL_PRODUCT_COUNT,DEPOSIT_PRODUCT_COUNT,LOAN_PRODUCT_COUNT,DEPOSIT_BALANCE,COUNT_TRANSACTION_CURRENT,AMOUNT_TRANSACTION_CURRENT,MONTHS_REMAIN_MIN,...,COUNT_LOANTRANS_CURRENT,AMOUNT_LOANTRANS_CURRENT,AGE_MONTHS,TENURE_MONTHS,MONTHS_LAST_ACTIVE,CNT_LN_TOTFSI,LOAN_BALANCE,AGE_MONTHS.1,TENURE_MONTHS.1,LOAN_AMOUNT
count,728.000000,728.000000,728.000000,728.00000,728.000000,728.000000,421.000000,528.000000,528.000000,532.000000,...,491.000000,491.000000,728.000000,728.000000,185.000000,355.000000,532.000000,339.000000,728.000000,532.000000
mean,917348.500000,0.063568,31.240922,1.78022,0.840659,0.939560,114.384659,1.729167,211.430230,13.015038,...,1.553971,191.585649,666.186813,75.766484,6.243243,2.980282,3168.859317,655.433628,75.766484,4370.521531
std,210.299786,0.242139,62.252693,1.08816,0.772210,0.685215,505.077603,2.604284,306.053141,11.468608,...,1.081684,305.554408,115.748046,22.715219,2.816927,1.732754,5185.650857,111.736737,22.715219,6409.022986
min,916985.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.060000,1.000000,0.983768,3.000000,...,1.000000,0.590261,419.000000,10.000000,1.000000,1.000000,27.053620,419.000000,10.000000,122.971281
25%,917166.750000,0.000000,0.000000,1.00000,0.000000,1.000000,1.328087,1.000000,26.807678,6.000000,...,1.000000,6.640434,587.000000,74.000000,5.000000,1.000000,418.101400,565.000000,74.000000,541.073638
50%,917348.500000,0.000000,7.272391,1.00000,1.000000,1.000000,4.918840,1.000000,50.762429,9.000000,...,1.000000,9.222825,681.000000,86.000000,7.000000,3.000000,614.855000,668.000000,86.000000,614.856406
75%,917530.250000,0.000000,30.300054,2.00000,1.000000,1.000000,12.440000,2.000000,243.828350,12.000000,...,2.000000,243.008350,743.000000,89.250000,9.000000,4.000000,3524.000000,743.000000,89.250000,5714.856406
max,917712.000000,0.991884,430.748260,6.00000,4.000000,3.000000,3362.540000,19.000000,1290.786124,55.000000,...,5.000000,1289.996124,939.000000,103.000000,10.000000,8.000000,31113.375150,863.000000,103.000000,22941.073640

In [4]:
df.columns

Index(['CUSID', 'DEPOSIT INCOME', 'LOAN INCOME', 'TOTAL_PRODUCT_COUNT',
       'DEPOSIT_PRODUCT_COUNT', 'LOAN_PRODUCT_COUNT', 'DEPOSIT_BALANCE',
       'COUNT_TRANSACTION_CURRENT', 'AMOUNT_TRANSACTION_CURRENT',
       'MONTHS_REMAIN_MIN', 'MONTHS_REMAIN_MAX', 'COUNT_LOANTRANS_CURRENT',
       'AMOUNT_LOANTRANS_CURRENT', 'AGE_MONTHS', 'TENURE_MONTHS',
       'MONTHS_LAST_ACTIVE', 'CNT_LN_TOTFSI', 'LOAN_BALANCE', 'AGE_MONTHS.1',
       'TENURE_MONTHS.1', 'LOAN_AMOUNT'],
      dtype='object')

In [3]:
df.dtypes

CUSID                           int64
DEPOSIT INCOME                float64
LOAN INCOME                   float64
TOTAL_PRODUCT_COUNT             int64
DEPOSIT_PRODUCT_COUNT           int64
LOAN_PRODUCT_COUNT              int64
DEPOSIT_BALANCE               float64
COUNT_TRANSACTION_CURRENT     float64
AMOUNT_TRANSACTION_CURRENT    float64
MONTHS_REMAIN_MIN             float64
MONTHS_REMAIN_MAX             float64
COUNT_LOANTRANS_CURRENT       float64
AMOUNT_LOANTRANS_CURRENT      float64
AGE_MONTHS                      int64
TENURE_MONTHS                   int64
MONTHS_LAST_ACTIVE            float64
CNT_LN_TOTFSI                 float64
LOAN_BALANCE                  float64
AGE_MONTHS.1                  float64
TENURE_MONTHS.1                 int64
LOAN_AMOUNT                   float64
dtype: object