In [35]:
import pandas as pd
df = pd.read_excel('CustomerInfo.xlsx')
df.dropna(inplace=True)
df

,Customer_ID,Occupation,PROVINCE,GENDER,MARITAL_STATUS,URBANITY,CREDIT_BUREAU,INCOME_TIER
0,009-17336,White collar worker,TK1,FEMALE,MARRIED,Rural,B,2.0
1,009-17170,Small Farrmer,TK,FEMALE,MARRIED,Rural,D,2.0
2,009-17046,Factory worker,TK,FEMALE,MARRIED,Rural,D,2.0
3,009-17381,Construction Worker,TK,FEMALE,WIDOWER,Rural,D,2.0
4,009-17088,Factory worker,TK,FEMALE,WIDOWER,Rural,D,3.0
...,...,...,...,...,...,...,...,...
599,009-17244,SME Farmer,TK,FEMALE,MARRIED,Rural,B,4.0
602,009-17211,Factory worker,TK,MALE,MARRIED,Rural,A,3.0
604,009-17279,Small Farmer,TK,FEMALE,WIDOWER,Rural,D,2.0
605,009-17433,Factory worker,KS,MALE,MARRIED,Rural,B,3.0
606,009-17396,White collar worker,TK,MALE,MARRIED,Rural,B,3.0

income tier based on ? occupation? gender

In [33]:
df.dropna(inplace=True)
# df[df['PROVINCE'] != 'TK' and df['PROVINCE'] != 'KS' and df['PROVINCE'] != 'BM']
df = df[df.eval("PROVINCE == ['TK', 'BM', 'KS']")]
df

,Customer_ID,Occupation,PROVINCE,GENDER,MARITAL_STATUS,URBANITY,CREDIT_BUREAU,INCOME_TIER
1,009-17170,Small Farrmer,TK,FEMALE,MARRIED,Rural,D,2.0
2,009-17046,Factory worker,TK,FEMALE,MARRIED,Rural,D,2.0
3,009-17381,Construction Worker,TK,FEMALE,WIDOWER,Rural,D,2.0
4,009-17088,Factory worker,TK,FEMALE,WIDOWER,Rural,D,3.0
5,009-17186,Small Business Owner,TK,FEMALE,MARRIED,Rural,D,3.0
...,...,...,...,...,...,...,...,...
599,009-17244,SME Farmer,TK,FEMALE,MARRIED,Rural,B,4.0
602,009-17211,Factory worker,TK,MALE,MARRIED,Rural,A,3.0
604,009-17279,Small Farmer,TK,FEMALE,WIDOWER,Rural,D,2.0
605,009-17433,Factory worker,KS,MALE,MARRIED,Rural,B,3.0
606,009-17396,White collar worker,TK,MALE,MARRIED,Rural,B,3.0

correlation between occupation and income
correlation between province and income
correlation between gender and income
correlation between urban and income
correlation between marital_status and income

In [45]:
total = df.mean()

C:\Users\admin\AppData\Local\Temp\ipykernel_25000\4056020120.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  total = df.mean()

In [82]:

display(df[df['GENDER'] == 'MALE'].count() / df.count())

Customer_ID       0.191011
Occupation        0.191011
PROVINCE          0.191011
GENDER            0.191011
MARITAL_STATUS    0.191011
URBANITY          0.191011
CREDIT_BUREAU     0.191011
INCOME_TIER       0.191011
dtype: float64

In [72]:
# two_mean = df[df.eval("INCOME_TIER == 2.0")].mean()
highest_income_mean = df[df['INCOME_TIER'] == 4.0].count()
total_income_mean  = df.count()
# display(highest_income_mean / total_income_mean )
display(highest_income_mean / total_income_mean)

Customer_ID       0.155056
Occupation        0.155056
PROVINCE          0.155056
GENDER            0.155056
MARITAL_STATUS    0.155056
URBANITY          0.155056
CREDIT_BUREAU     0.155056
INCOME_TIER       0.155056
dtype: float64

d

dtotal number of income tier based on occupation

Province = { { 'TK': 'Takeo'},
             { 'KS': 'Kamp' },
             { 'BM' : 'Bantaey Mocheay'}

total number of income tier based on province