#### Frameworks

#### Theory

#### 1. What are frameworks?
All programs are different just like snowflakes, yet it is similarities in code that we want to draw your attention to, or rather, how theses similarities can be used to the developer's advantage. In programming, it is common practice to reuse code packed into libraries in order to simplify the development and avoid making the same errors over and over. Such libraries exist for most programming languages; they provide good documentation and well-tested code used by many people.

Large applications like internet stores, online banks or social networks often need the same typical components and functionality such as user authorization, database interaction, sending notifications and so on. To reuse them, developers created a special kind of software called **frameworks** for all popular programming languages.

A **framework** is a universal, reusable piece of software that facilitates the development of typical applications or their parts. It consists of structured code templates and provides generic functionality which can be easily extended for the needs of a specific application. TO relinquish control on low-level tasks and focus on the high-level problems, you should use the API provided by the framework. It can significantly reduce total development time.

Some frameworks are so large that they are in fact a union of different frameworks under a single name.

Frameworks are extremely useful and relatively easy to grasp: for example, the very concept of a framework has some `real-life analogies`, which help to understand its meaning.

#### 2. Frameworks vs libraries

In [17]:
# class Dog:
#     def __init__(self, name, age):
#         self.name = name
#         self.age = age
#
#     def __str__(self):
#         return f"{self.name} {self.age}"
#
# class JackRussellTerrier(Dog):
#     pass
#
# class Dachshund(Dog):
#     pass
#
# class Bulldog(Dog):
#     pass
#
# miles = JackRussellTerrier("Miles", 4)
# buddy = Dachshund("Buddy", 9)
# jack = Bulldog("Jack", 3)
# jim = Bulldog("Jim", 5)
# print(isinstance(jack, Dog))
# print(isinstance(miles, Dog))
# print(isinstance(miles, Bulldog))
# print(isinstance(miles, Dog))
# print(isinstance(miles, Dachshund))
# print(isinstance(buddy, Bulldog))

In [26]:
class Ball():
    def __init__(self):
        self.x = 0
        self.y = 0

b1 = Ball()
b2 = b1

b1.x = 40
b2.x = 50
b1.x += 5
# b2.x += 5
print(b1.x, b2.x)

55 55

In [20]:
class Dog:
    def walk(self):
        return "*Walking*"

    def speak(self):
        return "Woof!"

class JackRusselTerrier(Dog):
    def speak(self):
        return "Arf!!"

bobo = JackRusselTerrier()
bobo.speak()

'Arf!!'

In [27]:
import numpy as np
x = np.array([10, 15, 22, 13, 17, 20, 8])
print(x[x < 17])

[10 15 13  8]

In [29]:
# print(str(True) + "python")
# print(True + True + 3)
# print(True + 0)
print("python" + True)

TypeError: can only concatenate str (not "bool") to str

In [30]:
display([["3", 1, 8], [3, 4, 5], [6, False, True]])

[['3', 1, 8], [3, 4, 5], [6, False, True]]

In [31]:
[[1, 5], [6, "3", 7], ["DataCamp", 8, True]]

[[1, 5], [6, '3', 7], ['DataCamp', 8, True]]

In [32]:
print(False == 1)

False

In [38]:
import pandas as pd
a = [2, 7, 12]
b = [1, 5, 8]
c = [4, 3, 6]
df = pd.DataFrame([a, b, c])
df.columns = ['a', 'b', 'c']
df

   a  b   c
0  2  7  12
1  1  5   8
2  4  3   6

In [39]:
print(df[['b', 'c']])

   b   c
0  7  12
1  5   8
2  3   6

In [41]:
temp = [
    {'': 'P', 'chapter': 1, 'course': 'python', 'level': 'advanced'},
    {'': 'R', 'chapter': 2, 'course': 'r', 'level': 'intermediate'},
    {'': 'S', 'chapter': 3, 'course': 's', 'level': 'beginner'},
        ]
datacamp = pd.DataFrame(temp).set_index('')
datacamp

   chapter  course         level

P        1  python      advanced
R        2       r  intermediate
S        3       s      beginner

In [42]:
between = np.logical_and(datacamp["chapter"] > 1, datacamp["chapter"] < 3)
datacamp[between]

   chapter course         level

R        2      r  intermediate

In [49]:
marketing_temp = [
    {'': 'a', 'ID': 1, 'Views': 1000, 'Clicks': 300},
    {'': 'b', 'ID': 2, 'Views': 1200, 'Clicks': 800},
    {'': 'c', 'ID': 3, 'Views': 800, 'Clicks': 500},
        ]
marketing = pd.DataFrame(marketing_temp).set_index('')
marketing.iloc[2]

ID          3
Views     800
Clicks    500
Name: c, dtype: int64

In [52]:
import numpy as np
sales_temp = [
    {'product': 'A', 'month': 'Jan', 'sold': 85},
    {'product': 'A', 'month': 'Feb', 'sold': 200},
    {'product': 'A', 'month': 'Mar', 'sold': 180},
    {'product': 'B', 'month': 'Jan', 'sold': 90},
    {'product': 'B', 'month': 'Feb', 'sold': 80},
    {'product': 'B', 'month': 'Mar', 'sold': 130},
        ]
sales = pd.DataFrame(sales_temp)
sales

  product month  sold
0       A   Jan    85
1       A   Feb   200
2       A   Mar   180
3       B   Jan    90
4       B   Feb    80
5       B   Mar   130

In [54]:
pick = np.logical_or(sales['product'] == 'B', sales['sold'] < 100)
sales[pick]

  product month  sold
0       A   Jan    85
3       B   Jan    90
4       B   Feb    80
5       B   Mar   130

In [55]:
numpy1 = np.array([17.2, 20.0, 8.25, 9.50])
numpy2 = np.array([13.0, 24.0, 8.25, 9.0])
np.logical_and(numpy1 > 10, numpy2 < 20)

array([ True, False, False, False])

In [56]:
sales_temp = [
    {'': 'a', 'year': 2003, 'winner': 'Australia'},
    {'': 'b', 'year': 2007, 'winner': 'Australia'},
    {'': 'c', 'year': 2011, 'winner': 'India'},
    {'': 'd', 'year': 2015, 'winner': 'Australia'},
        ]
sales = pd.DataFrame(sales_temp).set_index('')
sales.loc['d', ['year']]

year    2015
Name: d, dtype: object

In [58]:
churn_temp = [
    {'geography': 'France', 'surname': 'Barlett', 'credit_score': 822, 'age': 50, 'exited': 'No'},
    {'geography': 'France', 'surname': 'Bearce', 'credit_score': 528, 'age': 31, 'exited': 'No'},
    {'geography': 'France', 'surname': 'Boni', 'credit_score': 699, 'age': 39, 'exited': 'No'},
    {'geography': 'France', 'surname': 'Chin', 'credit_score': 549, 'age': 25, 'exited': 'No'},
    {'geography': 'France', 'surname': 'Hao', 'credit_score': 684, 'age': 27, 'exited': 'No'},
        ]
churn = pd.DataFrame(churn_temp)
churn

  geography  surname  credit_score  age exited
0    France  Barlett           822   50     No
1    France   Bearce           528   31     No
2    France     Boni           699   39     No
3    France     Chin           549   25     No
4    France      Hao           684   27     No

In [59]:
churn_srt = churn.set_index(["geography", "surname"]).sort_index()
churn_srt.loc[:, 'credit_score': 'age']

                   credit_score  age
geography surname
France    Barlett           822   50
          Bearce            528   31
          Boni              699   39
          Chin              549   25
          Hao               684   27