## Aggregating DataFrames

#### Grouped summary statistics

#### Grouped summaries

In [7]:
# importing pandas
import pandas as pd

# importing sales dataset
temp = pd.read_csv("../datasets/temperatures.csv")
temp.drop_duplicates("country")

,Unnamed: 0,date,city,country,avg_temp_c
0,0,2000-01-01,Abidjan,Côte D'Ivoire,27.293
165,165,2000-01-01,Addis Abeba,Ethiopia,17.391
330,330,2000-01-01,Ahmadabad,India,20.781
495,495,2000-01-01,Aleppo,Syria,5.205
660,660,2000-01-01,Alexandria,Egypt,13.579
825,825,2000-01-01,Ankara,Turkey,-4.621
990,990,2000-01-01,Baghdad,Iraq,10.024
1320,1320,2000-01-01,Bangkok,Thailand,25.980
1485,1485,2000-01-01,Belo Horizonte,Brazil,23.369
1650,1650,2000-01-01,Berlin,Germany,1.324
1815,1815,2000-01-01,Bogotá,Colombia,19.763
2805,2805,2000-01-01,Cape Town,South Africa,21.512
2970,2970,2000-01-01,Casablanca,Morocco,8.894
3135,3135,2000-01-01,Changchun,China,-18.759
3465,3465,2000-01-01,Chicago,United States,0.137
3795,3795,2000-01-01,Dakar,Senegal,22.192
4125,4125,2000-01-01,Dar Es Salaam,Tanzania,28.068
4455,4455,2000-01-01,Dhaka,Bangladesh,18.829
4785,4785,2000-01-01,Faisalabad,Pakistan,12.792
5445,5445,2000-01-01,Harare,Zimbabwe,22.119
5775,5775,2000-01-01,Ho Chi Minh City,Vietnam,26.647
6105,6105,2000-01-01,Ibadan,Nigeria,27.352
6765,6765,2000-01-01,Jakarta,Indonesia,26.607
6930,6930,2000-01-01,Jiddah,Saudi Arabia,23.262
7260,7260,2000-01-01,Kabul,Afghanistan,3.326
7920,7920,2000-01-01,Kiev,Ukraine,-5.483
8085,8085,2000-01-01,Kinshasa,Congo (Democratic Republic Of The),24.543
8745,8745,2000-01-01,Lima,Peru,19.455
8910,8910,2000-01-01,London,United Kingdom,4.693
9240,9240,2000-01-01,Luanda,Angola,25.077
9570,9570,2000-01-01,Madrid,Spain,1.912
9735,9735,2000-01-01,Manila,Philippines,25.700
9900,9900,2000-01-01,Mashhad,Iran,1.960
10065,10065,2000-01-01,Melbourne,Australia,18.527
10230,10230,2000-01-01,Mexico,Mexico,12.694
10395,10395,2000-01-01,Mogadishu,Somalia,26.680
10560,10560,2000-01-01,Montreal,Canada,-11.684
10725,10725,2000-01-01,Moscow,Russia,-7.313
10890,10890,2000-01-01,Nagoya,Japan,5.907
11220,11220,2000-01-01,Nairobi,Kenya,16.631
11880,11880,2000-01-01,Paris,France,3.845
12375,12375,2000-01-01,Rangoon,Burma,24.992
12870,12870,2000-01-01,Rome,Italy,2.434
13530,13530,2000-01-01,Santiago,Chile,12.444
13695,13695,2000-01-01,Santo Domingo,Dominican Republic,23.930
13860,13860,2000-01-01,Seoul,South Korea,-3.216
14355,14355,2000-01-01,Singapore,Singapore,26.016
15015,15015,2000-01-01,Taipei,Taiwan,18.086
16005,16005,2000-01-01,Umm Durman,Sudan,23.375

#### Summaries by group

In [13]:
display(temp[temp["country"] == "India"]["avg_temp_c"].mean())
display(temp[temp["country"] == "Egypt"]["avg_temp_c"].mean())
display(temp[temp["country"] == "Turkey"]["avg_temp_c"].mean())
display(temp[temp["country"] == "Iraq"]["avg_temp_c"].mean())
display(temp[temp["country"] == "Brazil"]["avg_temp_c"].mean())

26.633254790940768

22.044806910569108

14.79979268292683

24.074841463414636

23.906030487804877

#### Grouped summaries

In [14]:
temp.groupby("country")["avg_temp_c"].mean()

country
Afghanistan                           15.525756
Angola                                24.387659
Australia                             16.028104
Bangladesh                            26.164378
Brazil                                23.906030
Burma                                 27.514213
Canada                                 6.637158
Chile                                  6.345768
China                                 12.983107
Colombia                              21.649607
Congo (Democratic Republic Of The)    24.504963
Côte D'Ivoire                         26.971024
Dominican Republic                    26.852800
Egypt                                 22.044807
Ethiopia                              18.425378
France                                11.514274
Germany                               10.152421
India                                 26.633255
Indonesia                             27.408634
Iran                                  14.228701
Iraq                                  24.074841
Italy                                 13.127646
Japan                                 14.526165
Kenya                                 16.817134
Mexico                                16.406630
Morocco                               18.336195
Nigeria                               27.176191
Pakistan                              25.824654
Peru                                  17.203762
Philippines                           27.153518
Russia                                 5.557576
Saudi Arabia                          27.635610
Senegal                               25.425994
Singapore                             27.323165
Somalia                               27.963183
South Africa                          18.913680
South Korea                           11.693262
Spain                                 12.460860
Sudan                                 29.981780
Syria                                 18.501244
Taiwan                                23.078829
Tanzania                              26.481774
Thailand                              27.929518
Turkey                                14.799793
Ukraine                                8.701683
United Kingdom                        10.523585
United States                         12.954515
Vietnam                               27.909878
Zimbabwe                              20.721988
Name: avg_temp_c, dtype: float64

#### Multiple grouped summaries

In [15]:
temp.groupby("country")["avg_temp_c"].agg([min, max, sum])

                                       min     max        sum
country
Afghanistan                         -0.906  27.583   2546.224
Angola                              20.302  27.018   3999.576
Australia                            8.023  22.224   5257.218
Bangladesh                          17.116  30.517   4290.958
Brazil                              15.649  29.986  23523.534
Burma                               23.959  31.960   4512.331
Canada                             -16.513  21.956   2190.262
Chile                               -2.411  13.918   1040.706
China                              -23.495  31.171  34067.674
Colombia                            19.461  24.273   7101.071
Congo (Democratic Republic Of The)  21.753  26.426   4018.814
Côte D'Ivoire                       24.280  29.596   4423.248
Dominican Republic                  23.930  29.012   4430.712
Egypt                               12.031  30.767  10846.045
Ethiopia                            16.620  21.223   3021.762
France                               0.182  23.264   1888.341
Germany                             -4.702  23.795   1664.997
India                               13.147  36.477  61149.953
Indonesia                           26.292  29.608   8990.032
Iran                                -8.384  26.771   2333.507
Iraq                                 6.766  38.283   3948.274
Italy                                1.802  25.951   2152.934
Japan                                0.573  28.454   4764.582
Kenya                               14.456  19.431   2758.010
Mexico                              11.375  20.928   2707.094
Morocco                              8.295  28.249   3007.136
Nigeria                             19.848  33.068  13370.686
Pakistan                            11.285  35.649  12705.730
Peru                                13.186  22.245   2821.417
Philippines                         24.824  30.201   4453.177
Russia                             -15.846  24.580   1822.885
Saudi Arabia                        12.071  37.859   9064.480
Senegal                             20.575  29.228   4169.863
Singapore                           25.957  28.822   4480.999
Somalia                             25.654  30.256   4585.962
South Africa                        11.473  24.865   6203.687
South Korea                         -7.279  26.791   1917.695
Spain                                1.746  24.524   2043.581
Sudan                               20.712  35.700   4917.012
Syria                                3.063  32.629   3034.204
Taiwan                              14.873  29.506   3784.928
Tanzania                            24.088  29.131   4343.011
Thailand                            23.707  31.115   4580.441
Turkey                              -5.373  28.952   7281.498
Ukraine                            -10.942  24.593   1427.076
United Kingdom                      -0.024  20.743   1725.868
United States                       -6.325  27.336   6412.485
Vietnam                             25.059  30.702   4577.220
Zimbabwe                            14.623  25.224   3398.406

#### Grouping by multiple variables

In [16]:
temp.groupby(["country", "city"])["avg_temp_c"].mean()

country        city
Afghanistan    Kabul               15.525756
Angola         Luanda              24.387659
Australia      Melbourne           14.264043
               Sydney              17.792165
Bangladesh     Dhaka               26.164378
                                     ...
United States  Chicago             11.326170
               Los Angeles         16.649121
               New York            10.888255
Vietnam        Ho Chi Minh City    27.909878
Zimbabwe       Harare              20.721988
Name: avg_temp_c, Length: 100, dtype: float64

#### Many groups, many summaries

In [20]:
temp.groupby(["date", "country", "city"])["avg_temp_c"].mean()

date        country        city
2000-01-01  Afghanistan    Kabul                3.326
            Angola         Luanda              25.077
            Australia      Melbourne           18.527
                           Sydney              18.470
            Bangladesh     Dhaka               18.829
                                                ...
2013-09-01  United States  Chicago             19.977
                           Los Angeles         23.301
                           New York            17.408
            Vietnam        Ho Chi Minh City       NaN
            Zimbabwe       Harare                 NaN
Name: avg_temp_c, Length: 16500, dtype: float64