# Aggregating DataFrames

### Summary statistics

#### Summarizing numerical data

In [11]:
import pandas as pd
df = pd.read_csv("../datasets/homelessness.csv")
d2 = pd.read_pickle("../datasets/avoplotto.pkl")
df

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588
5,5,Mountain,Colorado,7607.0,3250.0,5691287
6,6,New England,Connecticut,2280.0,1696.0,3571520
7,7,South Atlantic,Delaware,708.0,374.0,965479
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
12,12,Mountain,Idaho,1297.0,715.0,1750536
13,13,East North Central,Illinois,6752.0,3891.0,12723071
14,14,East North Central,Indiana,3776.0,1482.0,6695497
15,15,West North Central,Iowa,1711.0,1038.0,3148618
16,16,West North Central,Kansas,1443.0,773.0,2911359
17,17,East South Central,Kentucky,2735.0,953.0,4461153
18,18,West South Central,Louisiana,2540.0,519.0,4659690
19,19,New England,Maine,1450.0,1066.0,1339057
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,21,New England,Massachusetts,6811.0,13257.0,6882635
22,22,East North Central,Michigan,5209.0,3142.0,9984072
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
24,24,East South Central,Mississippi,1024.0,328.0,2981020
25,25,West North Central,Missouri,3776.0,2107.0,6121623
26,26,Mountain,Montana,983.0,422.0,1060665
27,27,West North Central,Nebraska,1745.0,676.0,1925614
28,28,Mountain,Nevada,7058.0,486.0,3027341
29,29,New England,New Hampshire,835.0,615.0,1353465
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,31,Mountain,New Mexico,1949.0,602.0,2092741
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,34,West North Central,North Dakota,467.0,75.0,758080
35,35,East North Central,Ohio,6929.0,3320.0,11676341
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,37,Pacific,Oregon,11139.0,3337.0,4181886
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,39,New England,Rhode Island,747.0,354.0,1058287
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,41,West North Central,South Dakota,836.0,323.0,878698
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
43,43,West South Central,Texas,19199.0,6111.0,28628666
44,44,Mountain,Utah,1904.0,972.0,3153550
45,45,New England,Vermont,780.0,511.0,624358
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,47,Pacific,Washington,16424.0,5880.0,7523869
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,50,Mountain,Wyoming,434.0,205.0,577601

In [6]:
d2["avg_price"].mean()

1.3190236686390533

* `median()`
* `mode()`
* `min()`
* `max()`
* `var()`
* `std()`
* `sum()`
* `quantile()`

#### Summarizing dates
Oldest dog:

In [7]:
d2['date'].min()

'2015-01-04'

In [8]:
d2['date'].max()

'2018-03-25'

#### The .agg() method

In [9]:
def pct30(column):
    return column.quantile(0.3)

In [10]:
d2['avg_price'].agg(pct30)

1.07

#### Summaries on multiple columns

In [12]:
df[['individuals', 'family_members']].agg(pct30)

individuals       1745.0
family_members     676.0
dtype: float64

#### Multiple summaries

In [13]:
def pct40(column):
    return column.quantile(0.4)

In [14]:
df['individuals'].agg([pct30, pct40])

pct30    1745.0
pct40    2540.0
Name: individuals, dtype: float64

#### Cumulative sum

In [15]:
df['individuals'].cumsum()

0       2570.0
1       4004.0
2      11263.0
3      13543.0
4     122551.0
5     130158.0
6     132438.0
7     133146.0
8     136916.0
9     158359.0
10    165302.0
11    169433.0
12    170730.0
13    177482.0
14    181258.0
15    182969.0
16    184412.0
17    187147.0
18    189687.0
19    191137.0
20    196051.0
21    202862.0
22    208071.0
23    212064.0
24    213088.0
25    216864.0
26    217847.0
27    219592.0
28    226650.0
29    227485.0
30    233533.0
31    235482.0
32    275309.0
33    281760.0
34    282227.0
35    289156.0
36    291979.0
37    303118.0
38    311281.0
39    312028.0
40    315110.0
41    315946.0
42    322085.0
43    341284.0
44    343188.0
45    343968.0
46    347896.0
47    364320.0
48    365341.0
49    368081.0
50    368515.0
Name: individuals, dtype: float64

#### Cumulative statistics

* `.cummax()`
* `.cummin()`
* `.cumprod()`