# Converting html file to csv file?

In [52]:
import pandas as pd
import lxml
courses = pd.read_html("index.html")[0]
courses.head()

     COURSE SECTION  REMAINING DAY               TIME
0   CCS0001   TW191          6   F  16:00:00-18:40:00
1  CCS0001L   TW191          6   M  16:00:00-18:50:00
2   CCS0003   TW191          0   T  07:00:00-09:40:00
3  CCS0003L   TW191          0   W  07:00:00-09:50:00
4   CCS0004    TD01          2   F  13:00:00-15:40:00

#### Converting curriculum into dataframe

In [53]:
curriculum = pd.read_csv("curriculum.csv")
curriculum.head()

,COURSE CODE,COURSE TITLE,UNITS,LABORATORY,UNITS_LAB,PREREQUISITE
0,CCS0001,INTRODUCTION TO COMPUTING (LEC),2.0,CCS0001L,1.0,NaN
1,CCS0003,COMPUTER PROGRAMMING 1 (LEC),2.0,CCS0003L,1.0,NaN
2,GED0004,PHYSICAL EDUCATION 1,3.0,NaN,NaN,NaN
3,GED0009,READINGS IN PHILIPPINE HISTORY,3.0,NaN,NaN,NaN
4,GED0011,"SCIENCE, TECHNOLOGY AND SOCIETY",3.0,NaN,NaN,NaN

In [91]:
cs_available_courses = courses[courses['COURSE'].isin(curriculum['COURSE CODE'])]
available_course = cs_available_courses.set_index('TIME').sort_index()[97:146]

In [93]:
available_course = available_course[available_course['REMAINING'] >= 1]

                                        COURSE SECTION  REMAINING     DAY
TIME
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0001    TN03         18  M / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TK01          3   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0001    TN06          1  M / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0027    TX02          3   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0027    TV07          1   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0027    TS01          2   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0027    TN03         12   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0027    TV01          1   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0027    TV04          7   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0085    TB02          1   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TX03         16   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TE03          3   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TK03          6   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TT01         12   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TT02         37   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TV02         12   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00   CS0051    TN31          1  S / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TV05          5   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TV06          1   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TV08          6   F / T

In [102]:
# completed courses
completed_courses = ['CCS0001', 'CCS0003', 'GED0004', 'GED0009', 'GED0011', 'GED0085', 'NSTP1', 'CCS0005', 'CCS0007', 'GED0001', 'GED0027', 'GED0029', 'NSTP2']

data1 = available_course[~available_course['COURSE'].isin(completed_courses)]
data2 = available_course[available_course['REMAINING'] >= 1]
data1

                                        COURSE SECTION  REMAINING     DAY
TIME
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TK01          3   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0021    TV05          0  M / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0021    TK03          0   S / W
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TD02          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TD01          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0031    TN23          0  M / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TX03         16   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00   CS0009    TN24          0   M / W
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TE03          3   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TK03          6   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  CCS0103   TB291          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TT01         12   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TT02         37   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  CCS0101    TW22          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  CCS0101    TW21          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  CCS0101    TN23          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TV03          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00   CS0037    TN42          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0015    TV02         12   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00   CS0039    TN41          0   M / W
09:00:00-10:50:00 / 09:00:00-10:50:00   CS0039    TN43          0  M / TH
09:00:00-10:50:00 / 09:00:00-10:50:00   CS0051    TN31          1  S / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TV05          5   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TV06          1   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0019    TV08          6   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0047    TW43          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0047    TW42          0   F / T
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0047    TN42          0  M / TH
09:00:00-10:50:00 / 09:00:00-10:50:00  GED0021    TV06          0  M / TH
09:00:00-10:50:00 / 11:10:00-13:00:00   CS0031    TN31          0   W / W
09:10:00-11:00:00 / 09:10:00-11:00:00   CS0007    TN22          0   M / W
10:00:00-11:50:00 / 10:00:00-11:50:00  CCS0101    TD22          0   F / T
10:00:00-11:50:00 / 10:00:00-11:50:00  GED0061    TV32          0  M / TH