## Slicing and Indexing DataFrames

#### Pivot temperature by city and year

It's interesting to see how temperatures for each city change over time - looking at every month results in a big table, which can be tricky to reason about. Instead, let's look at how temperatures of a date (year, month, and day) using code of the form `dataframe["column"].dt.component`. For example, the month component is `dataframe["column"].dt.year`. Once you have the year column, you can create a pivot table with the data aggregated by city and year, which you'll explore in the coming exercises. `pandas` is loaded as `pd`. `temperatures` is available.

In [11]:
# importing pandas
import pandas as pd

# importing sales dataset
temperatures = pd.read_csv("../datasets/temperatures.csv")
temperatures.head()
temperatures["date"] = pd.to_datetime(temperatures["date"], format="%Y-%m-%d")
temperatures["date"]

0       2000-01-01
1       2000-02-01
2       2000-03-01
3       2000-04-01
4       2000-05-01
           ...
16495   2013-05-01
16496   2013-06-01
16497   2013-07-01
16498   2013-08-01
16499   2013-09-01
Name: date, Length: 16500, dtype: datetime64[ns]

### Instructions

* Add a `year` column to `temperatures` from the `year` component of the `date` column.
* Make a pivot table of the `avg_temp_c` column, with `country` and `city` as rows, and `year` as columns. Assign to `temp_by_country_city_vs_year, and *look at the result*.

In [13]:
# Add a year column to temperature
temperatures["year"] = temperatures["date"].dt.year
temperatures["year"]

0        2000
1        2000
2        2000
3        2000
4        2000
         ...
16495    2013
16496    2013
16497    2013
16498    2013
16499    2013
Name: year, Length: 16500, dtype: int64

In [15]:
# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(index=["country", "city"], columns="year")
temp_by_country_city_vs_year

                               Unnamed: 0                                      \
year                                 2000     2001     2002     2003     2004
country       city
Afghanistan   Kabul                7265.5   7277.5   7289.5   7301.5   7313.5
Angola        Luanda               9245.5   9257.5   9269.5   9281.5   9293.5
Australia     Melbourne           10070.5  10082.5  10094.5  10106.5  10118.5
              Sydney              14855.5  14867.5  14879.5  14891.5  14903.5
Bangladesh    Dhaka                4460.5   4472.5   4484.5   4496.5   4508.5
...                                   ...      ...      ...      ...      ...
United States Chicago              3470.5   3482.5   3494.5   3506.5   3518.5
              Los Angeles          9080.5   9092.5   9104.5   9116.5   9128.5
              New York            11720.5  11732.5  11744.5  11756.5  11768.5
Vietnam       Ho Chi Minh City     5780.5   5792.5   5804.5   5816.5   5828.5
Zimbabwe      Harare               5450.5   5462.5   5474.5   5486.5   5498.5

                                                                             \
year                               2005     2006     2007     2008     2009
country       city
Afghanistan   Kabul              7325.5   7337.5   7349.5   7361.5   7373.5
Angola        Luanda             9305.5   9317.5   9329.5   9341.5   9353.5
Australia     Melbourne         10130.5  10142.5  10154.5  10166.5  10178.5
              Sydney            14915.5  14927.5  14939.5  14951.5  14963.5
Bangladesh    Dhaka              4520.5   4532.5   4544.5   4556.5   4568.5
...                                 ...      ...      ...      ...      ...
United States Chicago            3530.5   3542.5   3554.5   3566.5   3578.5
              Los Angeles        9140.5   9152.5   9164.5   9176.5   9188.5
              New York          11780.5  11792.5  11804.5  11816.5  11828.5
Vietnam       Ho Chi Minh City   5840.5   5852.5   5864.5   5876.5   5888.5
Zimbabwe      Harare             5510.5   5522.5   5534.5   5546.5   5558.5

                                ... avg_temp_c                        \
year                            ...       2004       2005       2006
country       city              ...
Afghanistan   Kabul             ...  16.128417  14.847500  15.798500
Angola        Luanda            ...  24.216167  24.414583  24.138417
Australia     Melbourne         ...  13.742083  14.378500  13.991083
              Sydney            ...  17.869667  18.028083  17.749500
Bangladesh    Dhaka             ...  26.136083  26.193333  26.440417
...                             ...        ...        ...        ...
United States Chicago           ...  10.943417  11.583833  11.870500
              Los Angeles       ...  16.552833  16.431417  16.623083
              New York          ...  10.389500  10.681417  11.519250
Vietnam       Ho Chi Minh City  ...  27.686583  27.884000  28.044000
Zimbabwe      Harare            ...  20.307667  21.487417  20.699750

                                                                            \
year                                 2007       2008       2009       2010
country       city
Afghanistan   Kabul             15.518000  15.479250  15.093333  15.676000
Angola        Luanda            24.241583  24.266333  24.325083  24.440250
Australia     Melbourne         14.991833  14.110583  14.647417  14.231667
              Sydney            18.020833  17.321083  18.175833  17.999000
Bangladesh    Dhaka             25.951333  26.004500  26.535583  26.648167
...                                   ...        ...        ...        ...
United States Chicago           11.448333  10.242417  10.298333  11.815917
              Los Angeles       16.699917  17.014750  16.677000  15.887000
              New York          10.627333  10.641667  10.141833  11.357583
Vietnam       Ho Chi Minh City  27.866667  27.611417  27.853333  28.281750
Zimbabwe      Harare            20.746250  20.680500  20.523833  21.165833


year                                 2011       2012       2013
country       city
Afghanistan   Kabul             15.812167  14.510333  16.206125
Angola        Luanda            24.150750  24.240083  24.553875
Australia     Melbourne         14.190917  14.268667  14.741500
              Sydney            17.713333  17.474333  18.089750
Bangladesh    Dhaka             25.803250  26.283583  26.587000
...                                   ...        ...        ...
United States Chicago           11.214250  12.821250  11.586889
              Los Angeles       15.874833  17.089583  18.120667
              New York          11.272250  11.971500  12.163889
Vietnam       Ho Chi Minh City  27.675417  28.248750  28.455000
Zimbabwe      Harare            20.781750  20.523333  19.756500

[100 rows x 28 columns]