## Slicing and Indexing DataFrames

#### Calculating on a pivot table

Pivot tables are filled with summary statistics, but they are only a first step to finding something insightful. Often you'll need to perform further calculations on them. A common thing to do is to find the rows or columns where the highest or lowest value occurs. Recall from Chapter 1 that you can easily subset a Series or DataFrame to find rows of interest using a logical conditions inside of square brackets. For example: `series[series > value]`. `pandas` is loaded as `pd` and the DataFrame `temp_by_country_vs_year` is available.

In [2]:
# importing pandas
import pandas as pd

# importing sales dataset
temperatures = pd.read_csv("../datasets/temperatures.csv")
temperatures

       Unnamed: 0        date     city        country  avg_temp_c
0               0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1               1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2               2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3               3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4               4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
...           ...         ...      ...            ...         ...
16495       16495  2013-05-01     Xian          China      18.979
16496       16496  2013-06-01     Xian          China      23.522
16497       16497  2013-07-01     Xian          China      25.251
16498       16498  2013-08-01     Xian          China      24.528
16499       16499  2013-09-01     Xian          China         NaN

[16500 rows x 5 columns]

In [10]:

temperatures = temperatures.loc[:, "date": "avg_temp_c"]
temperatures["date"] = pd.to_datetime(temperatures["date"], format="%Y-%m-%d")
temperatures["year"] = temperatures["date"].dt.year
temp_by_country_city_vs_year = temperatures.pivot_table(index=["country", "city"], columns="year")
temp_by_country_city_vs_year

                               avg_temp_c                                   \
year                                 2000       2001       2002       2003
country       city
Afghanistan   Kabul             15.822667  15.847917  15.714583  15.132583
Angola        Luanda            24.410333  24.427083  24.790917  24.867167
Australia     Melbourne         14.320083  14.180000  14.075833  13.985583
              Sydney            17.567417  17.854500  17.733833  17.592333
Bangladesh    Dhaka             25.905250  25.931250  26.095000  25.927417
...                                   ...        ...        ...        ...
United States Chicago           11.089667  11.703083  11.532083  10.481583
              Los Angeles       16.643333  16.466250  16.430250  16.944667
              New York           9.969083  10.931000  11.252167   9.836000
Vietnam       Ho Chi Minh City  27.588917  27.831750  28.064750  27.827667
Zimbabwe      Harare            20.283667  20.861000  21.079333  20.889167

                                                                            \
year                                 2004       2005       2006       2007
country       city
Afghanistan   Kabul             16.128417  14.847500  15.798500  15.518000
Angola        Luanda            24.216167  24.414583  24.138417  24.241583
Australia     Melbourne         13.742083  14.378500  13.991083  14.991833
              Sydney            17.869667  18.028083  17.749500  18.020833
Bangladesh    Dhaka             26.136083  26.193333  26.440417  25.951333
...                                   ...        ...        ...        ...
United States Chicago           10.943417  11.583833  11.870500  11.448333
              Los Angeles       16.552833  16.431417  16.623083  16.699917
              New York          10.389500  10.681417  11.519250  10.627333
Vietnam       Ho Chi Minh City  27.686583  27.884000  28.044000  27.866667
Zimbabwe      Harare            20.307667  21.487417  20.699750  20.746250

                                                                            \
year                                 2008       2009       2010       2011
country       city
Afghanistan   Kabul             15.479250  15.093333  15.676000  15.812167
Angola        Luanda            24.266333  24.325083  24.440250  24.150750
Australia     Melbourne         14.110583  14.647417  14.231667  14.190917
              Sydney            17.321083  18.175833  17.999000  17.713333
Bangladesh    Dhaka             26.004500  26.535583  26.648167  25.803250
...                                   ...        ...        ...        ...
United States Chicago           10.242417  10.298333  11.815917  11.214250
              Los Angeles       17.014750  16.677000  15.887000  15.874833
              New York          10.641667  10.141833  11.357583  11.272250
Vietnam       Ho Chi Minh City  27.611417  27.853333  28.281750  27.675417
Zimbabwe      Harare            20.680500  20.523833  21.165833  20.781750


year                                 2012       2013
country       city
Afghanistan   Kabul             14.510333  16.206125
Angola        Luanda            24.240083  24.553875
Australia     Melbourne         14.268667  14.741500
              Sydney            17.474333  18.089750
Bangladesh    Dhaka             26.283583  26.587000
...                                   ...        ...
United States Chicago           12.821250  11.586889
              Los Angeles       17.089583  18.120667
              New York          11.971500  12.163889
Vietnam       Ho Chi Minh City  28.248750  28.455000
Zimbabwe      Harare            20.523333  19.756500

[100 rows x 14 columns]

### Instructions

* Calculate the mean temperature for each year, assigning to `mean_temp_by_year`.
* Filter `mean_temp_by_year` for the year that had the highest mean temperature.
* Calculate the mean temperature for each city (across columns), assigning to `mean_temp_by_city`.
* Filter `mean_temp_by_city` for the city that had the lowest mean temperature.

In [11]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()
mean_temp_by_year

            year
avg_temp_c  2000    19.506243
            2001    19.679352
            2002    19.855685
            2003    19.630197
            2004    19.672204
            2005    19.607239
            2006    19.793993
            2007    19.854270
            2008    19.608778
            2009    19.833752
            2010    19.911734
            2011    19.549197
            2012    19.668239
            2013    20.312285
dtype: float64

In [22]:
mean_temp_by_year.columns

AttributeError: 'Series' object has no attribute 'columns'

In [23]:
# Filter for the year that had the highest mean temp
mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()]

            year
avg_temp_c  2013    20.312285
dtype: float64

In [18]:
# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")
mean_temp_by_city

country        city
Afghanistan    Kabul               15.541955
Angola         Luanda              24.391616
Australia      Melbourne           14.275411
               Sydney              17.799250
Bangladesh     Dhaka               26.174440
                                     ...
United States  Chicago             11.330825
               Los Angeles         16.675399
               New York            10.911034
Vietnam        Ho Chi Minh City    27.922857
Zimbabwe       Harare              20.699000
Length: 100, dtype: float64

In [25]:
# Filter for the city that had the lowest mean temp
mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()]

country  city
China    Harbin    4.876551
dtype: float64