# Understanding Data Science

## Introduction to Data Science

### Data preparation

#### Data workflow
- Data preparation

#### Why prepare data?
* Real-life data is messy
* Preparation is done to prevent:
  - errors
  - incorrect results
  - biasing algorithms

#### Let's start data
<table>
    <thead>
        <tr>
            <td></td>
            <td>Sara</td>
            <td>Lis</td>
            <td>Hadrien</td>
            <td>Lis</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td>
            <td>"27"</td>
            <td>"30"</td>
            <td></td>
            <td>"30"</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>"1.77"</td>
            <td>"5.58"</td>
            <td>1.80</td>
            <td>5.58</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>"Belguim"</td>
            <td>"USA"</td>
            <td>"FR"/td>
            <td>"USA"</td>
        </tr>
    </tbody>
</table>

#### Tidy data
Before
<table>
    <thead>
        <tr>
            <td></td>
            <td>Sara</td>
            <td>Lis</td>
            <td>Hadrien</td>
            <td>Lis</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td>
            <td>"27"</td>
            <td>"30"</td>
            <td></td>
            <td>"30"</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>"1.77"</td>
            <td>"5.58"</td>
            <td>1.80</td>
            <td>5.58</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>"Belguim"</td>
            <td>"USA"</td>
            <td>"FR"/td>
            <td>"USA"</td>
        </tr>
    </tbody>
</table>

#### Tidy data output
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sara</td>
            <td>"27"</td>
            <td>1.78</td>
            <td>"Belgium"</td>
        </tr>
        <tr>
            <td>Lis</td>
            <td>"30"</td>
            <td>5.58</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"/td>
        </tr>
        <tr>
            <td>Lis</td>
            <td>"30"</td>
            <td>5.58</td>
            <td>"USA"/td>
        </tr>
    </tbody>
</table>

#### Remove duplicates
After
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sara</td>
            <td>"27"</td>
            <td>1.78</td>
            <td>"Belgium"</td>
        </tr>
        <tr>
            <td>Lis</td>
            <td>"30"</td>
            <td>5.58</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"/td>
        </tr>
    </tbody>
</table>

#### Unique ID
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Sara</td>
            <td>"27"</td>
            <td>1.78</td>
            <td>"Belgium"</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lis</td>
            <td>"30"</td>
            <td>5.58</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"/td>
        </tr>
    </tbody>
</table>

#### Homogeneity
Before
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Sara</td>
            <td>"27"</td>
            <td>1.78</td>
            <td>"Belgium"</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lis</td>
            <td>"30"</td>
            <td>5.58</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"/td>
        </tr>
    </tbody>
</table>

After
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Sara</td>
            <td>"27"</td>
            <td>1.78</td>
            <td>"Belgium"</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lis</td>
            <td>"30"</td>
            <td>1.70</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"</td>
        </tr>
    </tbody>
</table>

#### Homogeneity, again
After
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Sara</td>
            <td>"27"</td>
            <td>1.78</td>
            <td>"BE"</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lis</td>
            <td>"30"</td>
            <td>1.70</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"</td>
        </tr>
    </tbody>
</table>

#### Data types
After
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Sara</td>
            <td>27</td>
            <td>1.78</td>
            <td>"BE"</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lis</td>
            <td>30</td>
            <td>1.70</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hadrien</td>
            <td></td>
            <td>1.80"</td>
            <td>"FR"</td>
        </tr>
    </tbody>
</table>

#### Missing values
Reasons:
* Data entry
* Error
* valid missing value

Solutions:
* impute
* drop
* keep

After
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Size</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Sara</td>
            <td>27</td>
            <td>1.78</td>
            <td>"BE"</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lis</td>
            <td>30</td>
            <td>1.70</td>
            <td>"USA"</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hadrien</td>
            <td>28</td>
            <td>1.80"</td>
            <td>"FR"</td>
        </tr>
    </tbody>
</table>