In [1]:
import pandas as pd

df = pd.read_csv("Transactional_Information.csv")
df

        UserID  Day  Duration  Pulse  Maxpulse  Calories
0    202200001  1.0        60    110       130     409.1
1    202200002  2.0        60    117       145     479.0
2    202200003  3.0        60    103       135     340.0
3    202200004  4.0        45    109       175     282.4
4    202200005  5.0        45    117       148     406.0
..         ...  ...       ...    ...       ...       ...
164  202200083  8.0        60    105       140     290.8
165  202200084  7.0        60    110       145     300.0
166  202200085  6.0        60    115       145     310.2
167  202200086  NaN        75    120       150     320.4
168  202200087  0.0        75    125       150     330.4

[169 rows x 6 columns]

# Technical 3

Data Preparation
Object:
- To compare the values of correlation between dropped and replaced null values.
TODOS:
- drop the CUSID duplicate values DONE
1. Dropped Values
- print the attributes
- drop the null value
-
2. Replaced null values

Essential drop the values by on CUSID

In [44]:
df.drop_duplicates(subset='CUSID', inplace=True)
df.value_counts(subset='CUSID')

UserID
202200001    1
202200002    1
202200077    1
202200076    1
202200075    1
            ..
202200032    1
202200031    1
202200030    1
202200029    1
202200104    1
Length: 104, dtype: int64

drop the values

In [45]:
df.dropna(subset='LOAN_AMOUNT')
df.value_counts(subset='LOAN_AMOUNT')

Day
1.0     17
2.0     13
0.0     11
4.0     10
5.0      9
3.0      8
8.0      8
7.0      6
6.0      5
0.1      1
9.0      1
11.0     1
22.0     1
33.0     1
66.0     1
77.0     1
dtype: int64

In [27]:
df.corr()

            UserID       Day  Duration     Pulse  Maxpulse  Calories
UserID    1.000000  0.145525  0.005850  0.088805  0.081475  0.033571
Day       0.145525  1.000000  0.441058  0.045033  0.140619  0.591756
Duration  0.005850  0.441058  1.000000 -0.175446 -0.049845  0.855490
Pulse     0.088805  0.045033 -0.175446  1.000000  0.809409  0.143545
Maxpulse  0.081475  0.140619 -0.049845  0.809409  1.000000  0.257186
Calories  0.033571  0.591756  0.855490  0.143545  0.257186  1.000000

In [16]:
for row in df:
    display(row)

('UserID',
 0      202200001
 1      202200002
 2      202200003
 3      202200004
 4      202200005
          ...
 164    202200083
 165    202200084
 166    202200085
 167    202200086
 168    202200087
 Name: UserID, Length: 169, dtype: int64)

('Day',
 0      1.0
 1      2.0
 2      3.0
 3      4.0
 4      5.0
       ...
 164    8.0
 165    7.0
 166    6.0
 167    NaN
 168    0.0
 Name: Day, Length: 169, dtype: float64)

('Duration',
 0      60
 1      60
 2      60
 3      45
 4      45
        ..
 164    60
 165    60
 166    60
 167    75
 168    75
 Name: Duration, Length: 169, dtype: int64)

('Pulse',
 0      110
 1      117
 2      103
 3      109
 4      117
       ...
 164    105
 165    110
 166    115
 167    120
 168    125
 Name: Pulse, Length: 169, dtype: int64)

('Maxpulse',
 0      130
 1      145
 2      135
 3      175
 4      148
       ...
 164    140
 165    145
 166    145
 167    150
 168    150
 Name: Maxpulse, Length: 169, dtype: int64)

('Calories',
 0      409.1
 1      479.0
 2      340.0
 3      282.4
 4      406.0
        ...
 164    290.8
 165    300.0
 166    310.2
 167    320.4
 168    330.4
 Name: Calories, Length: 169, dtype: float64)