## Visualizing DataFrames

#### Removing missing values

Now that you know there are some missing values in your DataFrame, you have a few options to deal with them. One way is to remove them from the dataset completely. In this exercise, you'll remove missing values by removing all rows that contain missing values. `pandas` has been imported as `pd` and `avocados_2016` is available.

In [1]:
# importing pandas
import pandas as pd

# importing sales dataset
avocados = pd.read_pickle("../datasets/avoplotto.pkl")
avocados_2016 = avocados[(avocados["date"] >= "2016-01-1") & (avocados["date"] <= "2016-12-31")]
avocados_2016

           date          type  year  avg_price         size      nb_sold
52   2016-12-25  conventional  2016       1.00        small   9255125.20
53   2016-12-18  conventional  2016       0.96        small   9394065.91
54   2016-12-11  conventional  2016       0.98        small   9009996.11
55   2016-12-04  conventional  2016       1.00        small  11043350.90
56   2016-11-27  conventional  2016       1.21        small   7891487.94
..          ...           ...   ...        ...          ...          ...
943  2016-02-07       organic  2016       1.44  extra_large      8028.75
944  2016-01-31       organic  2016       1.43  extra_large      5515.91
945  2016-01-24       organic  2016       1.41  extra_large     12933.97
946  2016-01-17       organic  2016       1.44  extra_large     13106.29
947  2016-01-10       organic  2016       1.35  extra_large      8771.79

[306 rows x 6 columns]

### Instructions

* Remove the rows of `avocados_2016` that contain missing values and store the remaining rows in `avocados_complete`.
* Verify that all missing values have been removed from `avocados_complete`. Calculate each column that has NAs and print.

In [3]:
# Remove rows with missing values
avocados_complete = avocados.dropna()
avocados_complete

            date          type  year  avg_price         size     nb_sold
0     2015-12-27  conventional  2015       0.95        small  9626901.09
1     2015-12-20  conventional  2015       0.98        small  8710021.76
2     2015-12-13  conventional  2015       0.93        small  9855053.66
3     2015-12-06  conventional  2015       0.89        small  9405464.36
4     2015-11-29  conventional  2015       0.99        small  8094803.56
...          ...           ...   ...        ...          ...         ...
1009  2018-02-04       organic  2018       1.53  extra_large     1703.52
1010  2018-01-28       organic  2018       1.61  extra_large     1270.61
1011  2018-01-21       organic  2018       1.63  extra_large     1490.02
1012  2018-01-14       organic  2018       1.59  extra_large     1580.01
1013  2018-01-07       organic  2018       1.51  extra_large     1289.07

[1014 rows x 6 columns]

In [5]:
# Check if any columns contain missing values
avocados_complete.isna().any()

date         False
type         False
year         False
avg_price    False
size         False
nb_sold      False
dtype: bool