## Visualizing your data

#### Creating DataFrames

In [1]:
# importing pandas
import pandas as pd

# importing sales dataset
avocado = pd.read_pickle("../datasets/avoplotto.pkl")
avocado.head()

         date          type  year  avg_price   size     nb_sold
0  2015-12-27  conventional  2015       0.95  small  9626901.09
1  2015-12-20  conventional  2015       0.98  small  8710021.76
2  2015-12-13  conventional  2015       0.93  small  9855053.66
3  2015-12-06  conventional  2015       0.89  small  9405464.36
4  2015-11-29  conventional  2015       0.99  small  8094803.56

#### Dictionaries

In [2]:
value1 = "value1"
value2 = "value2"
value3 = "value3"
my_dict = {
    "key1": value1,
    "key2": value2,
    "key3": value3
}

my_dict["key1"]

'value1'

In [3]:
my_dict = {
    "title": "Charlotte's Web",
    "author": "E.B White",
    "published": 1952
}
my_dict["title"]

"Charlotte's Web"

#### Creating DataFrames
* From a list of dictionaries
  * Constructed row by row
* From a dictionary of lists
  * Constructed column by column

#### List of dictionaries - by row

In [4]:
list_of_dicts = [
    {"name": "Ginger", "breed": "Dachshund", "height_cm": 22, "weight_kg": 10, "date_of_birth": "2019-03-14"},
    {"name": "Scout", "breed": "Dalmatian", "height_cm": 59, "weight_kg": 25, "date_of_birth": "2019-05-09"}
]
list_of_dicts

[{'name': 'Ginger',
  'breed': 'Dachshund',
  'height_cm': 22,
  'weight_kg': 10,
  'date_of_birth': '2019-03-14'},
 {'name': 'Scout',
  'breed': 'Dalmatian',
  'height_cm': 59,
  'weight_kg': 25,
  'date_of_birth': '2019-05-09'}]

In [5]:
new_dogs = pd.DataFrame(list_of_dicts)
new_dogs

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

#### Dictionary of lists - by column

In [6]:
dict_of_lists = {
    "name": ["Ginger", "Scout"],
    "breed": ["Dachshund", "Dalmatian"],
    "height_cm": [22, 59],
    "weight_kg": [10, 25],
    "date_of_birth": ["2019-03-14", "2019-05-09"],
}
dict_of_lists

{'name': ['Ginger', 'Scout'],
 'breed': ['Dachshund', 'Dalmatian'],
 'height_cm': [22, 59],
 'weight_kg': [10, 25],
 'date_of_birth': ['2019-03-14', '2019-05-09']}

In [8]:
new_dogs = pd.DataFrame(dict_of_lists)
new_dogs

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09