## Visualizing your data

#### Reading and writing CSVs

In [1]:
# importing pandas
import pandas as pd

# importing sales dataset
avocado = pd.read_pickle("../datasets/avoplotto.pkl")
avocado.head()

         date          type  year  avg_price   size     nb_sold
0  2015-12-27  conventional  2015       0.95  small  9626901.09
1  2015-12-20  conventional  2015       0.98  small  8710021.76
2  2015-12-13  conventional  2015       0.93  small  9855053.66
3  2015-12-06  conventional  2015       0.89  small  9405464.36
4  2015-11-29  conventional  2015       0.99  small  8094803.56

#### What's a CSV file?
* CSV = comma-separated values
* Designed for DataFrame-like data
* Most database and spreadsheet programs can use them or create them

In [2]:
import pandas as pd
new_dogs = pd.read_csv("new_dogs.csv")
new_dogs

'value1'

#### DataFrame manipulation

In [3]:
new_dogs["bmi"] = new_dogs["weight_kg"] / (new_dogs["height_cm"] / 100) ** 2
new_dogs

"Charlotte's Web"

#### DataFrame  to CSV

In [ ]:
new_dogs.to_csv("new_dogs_with_bmi.csv")