## Visualizing DataFrames

#### DataFrame to CSV

You're almost there! To make things easier to read, you'll need to sort the data and export it to CSV so that our colleagues can read it.
`pandas` as `pd` has been imported for you.

In [1]:
# importing pandas
import pandas as pd

### Instructions

* Sort `airline_totals` by the values of `bumps_per_10k` from highest to lowest, storing as `airline_totals_sorted`.
* Print your sorted DataFrame.
* Save the sorted DataFrame as a CSV called `"airline_totals_sorted.csv"`

In [2]:
# Read CSV as DataFrame called airline_bumpinng
airline_bumping = pd.read_csv("../datasets/airline_bumping.csv")
airline_bumping.head()

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679        99796155.0
1     VIRGIN AMERICA  2017        165         6090029.0
2    JETBLUE AIRWAYS  2017       1475        27255038.0
3    UNITED AIRLINES  2017       2067        70030765.0
4  HAWAIIAN AIRLINES  2017         92         8422734.0

In [3]:
# For each airline, select nb_bumped and total_passengers and sum
airline_totals = airline_bumping.groupby("airline")[["nb_bumped","total_passengers"]].sum()
airline_totals

                     nb_bumped  total_passengers
airline
ALASKA AIRLINES           1392        36543121.0
AMERICAN AIRLINES     98023730        99348093.0
DELTA AIR LINES           1591       197033215.0
EXPRESSJET AIRLINES       3326        27858678.0
FRONTIER AIRLINES         1228        22954995.0
HAWAIIAN AIRLINES          122        16577572.0
JETBLUE AIRWAYS           3615        53245866.0
SKYWEST AIRLINES          3094        47091737.0
SOUTHWEST AIRLINES       18585       228142036.0
SPIRIT AIRLINES           2920        32304571.0
UNITED AIRLINES           4941       134468897.0
VIRGIN AMERICA             242        12017967.0

In [4]:
# Create a new col, bumps_per_10k: no. of bumps per 10k passengers for each airline
airline_totals["bumps_per_10k"] = airline_totals["nb_bumped"] / airline_totals["total_passengers"] * 10000
airline_totals

                     nb_bumped  total_passengers  bumps_per_10k
airline
ALASKA AIRLINES           1392        36543121.0       0.380920
AMERICAN AIRLINES     98023730        99348093.0    9866.694673
DELTA AIR LINES           1591       197033215.0       0.080748
EXPRESSJET AIRLINES       3326        27858678.0       1.193883
FRONTIER AIRLINES         1228        22954995.0       0.534960
HAWAIIAN AIRLINES          122        16577572.0       0.073593
JETBLUE AIRWAYS           3615        53245866.0       0.678926
SKYWEST AIRLINES          3094        47091737.0       0.657015
SOUTHWEST AIRLINES       18585       228142036.0       0.814624
SPIRIT AIRLINES           2920        32304571.0       0.903897
UNITED AIRLINES           4941       134468897.0       0.367446
VIRGIN AMERICA             242        12017967.0       0.201365

In [9]:
# Create airline_totals_sorted
airline_totals_sorted = airline_totals.sort_values(by="bumps_per_10k", ascending=False)
airline_totals_sorted

                     nb_bumped  total_passengers  bumps_per_10k
airline
HAWAIIAN AIRLINES          122        16577572.0       0.073593
DELTA AIR LINES           1591       197033215.0       0.080748
VIRGIN AMERICA             242        12017967.0       0.201365
UNITED AIRLINES           4941       134468897.0       0.367446
ALASKA AIRLINES           1392        36543121.0       0.380920
FRONTIER AIRLINES         1228        22954995.0       0.534960
SKYWEST AIRLINES          3094        47091737.0       0.657015
JETBLUE AIRWAYS           3615        53245866.0       0.678926
SOUTHWEST AIRLINES       18585       228142036.0       0.814624
SPIRIT AIRLINES           2920        32304571.0       0.903897
EXPRESSJET AIRLINES       3326        27858678.0       1.193883
AMERICAN AIRLINES     98023730        99348093.0    9866.694673

In [ ]:
# Print airline_totals_sorted
print(airline_totals_sorted)

In [ ]:
# Save as airline_totals_sorted.csv
airline_totals_sorted.to_csv("airline_totals_sorted.csv")