# Intermediate SQL

## Selecting with data

#### Practice witt COUNT()

As you've seen, `COUNT()`  tells you how many records are in a table. However, if you want to count the number of non-missing values in a particular field, you can call `COUNT()` on just that field.

Let's get some practice with `COUNT()`! You can look at the data in the tables throughout these exercises by clicking on the table name in the console.

In [2]:
import cx_Oracle
import pandas as pd

def print_all():
    connection = cx_Oracle.connect(user="DATASETS_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM FILMS")
    return pd.DataFrame(cursor)

def run_statement(sql):
    connection = cx_Oracle.connect(user="DATASETS_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute(sql)
    for row in cursor:
        display(row)

#### Instructions
* Count the number of records in the `people` table, aliasing the result as `count_records`.

In [19]:
sql = """SELECT COUNT(id) AS count_records FROM people"""
run_statement(sql)

(8397,)

* Count the number of records with a `birthdate` in the `people` table, aliasing the result as `count_birthdate`.

In [20]:
sql = """SELECT COUNT(birthdate) AS count_birthdate FROM people"""
run_statement(sql)

(6152,)

* Count the languages and countries in the films table; alias as count_languages and count_countries

In [22]:
sql = """SELECT COUNT(language) AS count_language, COUNT(country) as count_countries FROM films"""
run_statement(sql)

(4957, 4966)