# Intermediate SQL

## Selecting with data

#### SELECT DISTINCT

Often query results will include many duplicate values. You can use the DISTINCT keyword to select the unique values from a field.

This might be useful if, for example, you're interested in knowing which languages are represented in the films table. See if you can find out what countries are represented in this table with the following exercises.

In [1]:
import cx_Oracle
import pandas as pd

def print_all():
    connection = cx_Oracle.connect(user="DATASETS_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM FILMS")
    return pd.DataFrame(cursor)

def run_statement(sql):
    connection = cx_Oracle.connect(user="DATASETS_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute(sql)
    for row in cursor:
        display(row)

#### Instructions
* Return the unique countries represented in the `films` table using `DISTINCT`

In [ ]:
# Return the unique countries from the films table
sql = """SELECT DISTINCT country FROM films"""
run_statement(sql)

* Return the number of unique countries represented in the `films` table, aliased as `count_distinct_countries`.

In [7]:
sql = """SELECT COUNT(DISTINCT country) AS count_distinct_countries FROM films"""
run_statement(sql)

(64,)