# Intermediate SQL

## Selecting with data

#### Using WHERE with text

`WHERE` can also filter string values.

Imagine you are part of an organization that gives cinematography awards, and you have several international categories. Before you confirm an award for every language to make it fair competition. If there is only one movie of a significant skew, it may be worth considering a different way of giving international awards.

Let's try this out!

In [1]:
import cx_Oracle
import pandas as pd

def print_all():
    connection = cx_Oracle.connect(user="DATASETS_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM FILMS")
    return pd.DataFrame(cursor)

def run_statement(sql):
    connection = cx_Oracle.connect(user="DATASETS_CHAN", password="123", dsn="localhost:1521/xe")
    cursor = connection.cursor()
    cursor.execute(sql)
    display(pd.DataFrame(cursor))

#### Instructions
* Select and count the `language` field using the alias `count_spanish`.
* Apply a filter to select only `Spanish` from the `language` field.

In [3]:
# Count the Spanish-language films
sql = """
SELECT COUNT(language) AS count_spanish
FROM films
WHERE language = 'Spanish'
"""
run_statement(sql)

    0
0  40

* Select the `film_id` and `facebook_likes of the first ten records with less than 1000 likes from the `reviews` table.

In [5]:
sql = """
SELECT film_id, facebook_likes
FROM reviews
WHERE facebook_likes < 1000
LIMIT 10
"""
run_statement(sql)

DatabaseError: ORA-00933: SQL command not properly ended

* Count how many records have a `num_votes` of at least 100,000; use the alias `films_over_100k_votes`.

In [13]:
sql = """
SELECT COUNT(num_votes) AS films_over_100K_votes
FROM reviews
WHERE num_votes > 100000
"""
run_statement(sql)

      0
0  1211